.buttonStyle {
    -fx-background-color: #76b5c5;
    -fx-background-radius: 20;
    -fx-pref-width: 300;
    -fx-pref-height: 100;

    -fx-text-fill: #000;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
}
.buttonHover:hover {
    -fx-background-color: #4473c9;
    -fx-background-radius: 20;
    -fx-pref-width: 300;
    -fx-pref-height: 100;

    -fx-text-fill: #000;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-font-size: 22px;
}


.titleStyle {
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-font-size: 100px;
    -fx-text-fill: #76b5c5;
}

#menuID {
    -fx-background-image: url("images/stoneAlt.png");
    -fx-background-size: cover;
}



/* Custom Title Bar */
.title-bar {
    -fx-background-color: #2a2a2a; /* Dark header */
    -fx-padding: 5px 10px;
    -fx-alignment: center;
}

.title-text {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.close-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-padding: 0 5px;
}

.close-button:hover {
    -fx-background-color: #e81123;
}

.minimize-button:hover, .maximize-button:hover {
    -fx-background-color: #404040;
}