.bottom-bar {
    -fx-pref-height: 100px;
    -fx-background-color: lightgray;
    -fx-spacing: 20px;
    -fx-alignment: center;
    -fx-padding: 0 20px 0 20px;
}

.menu-button {
    /*-fx-background-color: linear-gradient(to bottom, #ff8c00, #ff4500);*/
    -fx-background-color: linear-gradient(to bottom, #4ca0d5, #4c7cd5);
    -fx-text-fill: #abe2ff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px 15px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: darkgray;
    -fx-border-width: 2px;
}
.menu-button:hover {
    -fx-background-color: linear-gradient(to top, #4ca0d5, #4c7cd5);
}
.delete-button {
    /*-fx-background-color: linear-gradient(to bottom, #ff8c00, #ff4500);*/
    -fx-background-color: linear-gradient(to bottom, #4ca0d5, #4c7cd5);
    -fx-text-fill: #abe2ff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px 15px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: darkgray;
    -fx-border-width: 2px;
}
.delete-button:hover {
    -fx-background-color: linear-gradient(to top, #4ca0d5, #4c7cd5);
}
.delete-button-active {
    /*-fx-background-color: linear-gradient(to bottom, #ff8c00, #ff4500);*/
    -fx-background-color: linear-gradient(to bottom, #000000, #ffffff);
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px 15px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: darkgray;
    -fx-border-width: 2px;
}
.delete-button-active:hover {
    -fx-background-color: linear-gradient(to top, #000000, #ffffff);
}

.editor-pane {
    -fx-spacing: 50px;
    -fx-border-color: black;
    -fx-background-color: white;
}
.editor-label {
    -fx-background-color: linear-gradient(to bottom, #4ca0d5, #4c7cd5);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-padding: 5px 10px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-font-size: 14pt;
    -fx-pref-width: 270px;
    -fx-pref-height: 50px;
    -fx-alignment: center;
}
.editor-attribute-box {
    -fx-background-color: lightgray;
    -fx-padding: 6px;
    -fx-alignment: center;
    -fx-spacing: 20px;
}
.larger-editor-attribute-box {
    -fx-background-color: lightgray;
    -fx-padding: 6px;
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-pref-height: 50px;
}

.editor-attribute-label {
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-font-size: 12pt;
}
.editor-attribute-field {
    -fx-background-color: linear-gradient(to bottom, #4ca0d5, #4c7cd5);
    -fx-border-color: darkgray;
    -fx-border-width: 2px;
    -fx-pref-width: 50;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.help-text-area {
    -fx-min-width: 850;
    -fx-max-width: 300;
    -fx-min-height: 328;
    -fx-max-height: 300;
    -fx-control-inner-background: lightblue;
    -fx-border-color: lightblue;
    -fx-background-color: lightblue;
}

.shape-label {
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-font-size: 10pt;
    -fx-alignment: center;
    -fx-text-origin: center;
}

.plane-scroll-pane {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-pref-height: 200px;
}

.plane-list-box {
    -fx-background-color: white;
}

.plane-list-box .label {
    -fx-font-weight: bold;
}

.plane-list-box .text {
    -fx-fill: #666666;
}
.plane-angle-field {
    -fx-pref-width: 60px;
    -fx-font-size: 12px;
    -fx-text-alignment: center;
}



